# Arquivos de binário compilados
*.exe
*.dll
*.so
*.dylib
*.bin
*.o
*.obj

# Pasta de binários temporários do Air
/tmp

# Arquivos de configuração do Air
.air.toml

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Pastas ignoradas
# Descomente a linha abaixo se você não deseja incluir a pasta vendor
 /vendor/

# Arquivos de variáveis de ambiente
.env
